<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapsed()">L</button>
    <div class="logo-text" *ngIf="collapsed">Logoipsum</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
        <span class="material-icons  collapse-button close-icon">close</span>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navdata">
      <a class="sidenav-nav-link" [routerLink]="[data.routerLink]"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="material-icons sidenav-link-icon">{{data.icon}}</span>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
    <li class="sidenav-nav-item" (click)="logout()">
      <a class="sidenav-nav-link">
        <span class="material-icons sidenav-link-icon">logout</span>
        <span class="sidenav-link-text" *ngIf="collapsed">Logout</span>
      </a>
    </li>
  </ul>
</div>