<div class="container p-0">
    <ng-template #successTpl> Login Success </ng-template>
    <div class="row mx-auto justify-content-center align-items-center w-100 p-0 login--content">
        <div class="col-md-6">
            <div class="card" style="width: 500px;height: 500px;">
                <div class="card-body">
                    <form [formGroup]="adminLogin" (ngSubmit)="onSubmitLogin(adminLogin.value)">
                    <div class="row p-2 g-3">
                        <div class="col-12 mb-3">
                            <img src="assets/images/logo/Logo.svg"/>
                        </div>
                        <div class="col-12 mb-3">
                            <span class="login--title">Login</span>
                        </div>
                        <div class="col-12 ">
                            <p class="login--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet doloribus ducimus, quaerat?</p>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" 
                                class="form-control" id="floatingInput" 
                                placeholder="name@example.com" formControlName="username">
                                <label for="floatingInput">Username</label>
                              </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="password" 
                                class="form-control" id="floatingPassword" 
                                placeholder="Password" formControlName="password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button [disabled]="loading" class="btn btn-primary  popup-btn pdl-5 rounded-3 px-3" style="width: 90px;vertical-align: middle;">
                                <span>Login </span>
                                <i class="px-1 fa fa-spinner fa-spin" *ngIf="loading"></i>
                            </button>
                        </div>
                    </div> </form>
                </div>
              </div>
        </div>
        <div class="col-md-6">
                <div >
                    <img src="assets/images/images/Rectangle.png" class="admin-login-background"/>
                </div>
        </div>
    </div>
</div>