<div class="container">
    <div class="row mx-auto guessings-container g-3">
        <form [formGroup]="guessingDigitFForm" (ngSubmit)="onSubmitGuessing(guessingDigitFForm.value)">
        <div class="col-md-12 col-sm-12 col-xs-12 mb-3">
            <div class="float-end" >
                <button class="btn btn-primary"  [disabled]="isLoading"  style="border-radius: 30px;">
                    <span class="material-symbols-outlined"  [hidden]="isLoading" style="font-size: 16px;vertical-align: middle;">
                        check_circle
                    </span><span style="padding-left: 5px;">Save</span>
                    <i class="px-1 fa fa-spinner fa-spin" *ngIf="isLoading"></i>
                </button>
             </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 mb-3 pb-3">
            <table class="guessing-inputs p-3 gap-4">
                <tbody>
                    <tr class="mb-3 pb-3">
                        <td class="guessing-label">3 Guessing Number</td>
                        <td><h6 style="font-weight: 600;">3 Digits Guessing Number</h6>
                            <textarea class="form-control  input-guessing3" rows="3"  
                            inputmode="numeric" (input)="formatThreeGuessing($event)"  
                            formControlName="GuessingNumber_3digit" (keypress)="onlyNumberKey($event)"></textarea></td>
                    </tr>
                    <tr class="mb-3 pb-3">
                        <td class="guessing-label">4 Guessing Number</td>
                        <td><h6 style="font-weight: 600;">4 Digits Guessing Number</h6> 
                            <textarea class="form-control input-guessing3" rows="3"   
                            inputmode="numeric"   (input)="formatFourGuessing($event)"   
                            formControlName="GuessingNumber_4digit" (keypress)="onlyNumberKey($event)"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div></form>
        <div class="col-md-12 col-sm-12 col-xs-12  mb-3 pb-3" style="margin: 0;">
            <app-guess-table></app-guess-table>
        </div>
    </div>
</div>